<!-- Side Menu -->
<div class="sidemenu-area sidemenu-toggle default">
    <nav class="sidemenu navbar navbar-expand navbar-light hide-nav-title">
        <div class="navbar-collapse collapse">
            <div class="navbar-nav">

                <div class="dropdown nav-item">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="heart" class="icon"></i>
                            <span class="title">
                                Icons
                                <i data-feather="chevron-right" class="icon fr"></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/icons/feather-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Feather Icons
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/icons/line-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Line Icons
                        </a>
                        <a
                            class="dropdown-item"
                            routerLink="/icons/icofont-icons"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Icofont Icons
                        </a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <div class="dropdown-title">
                            <i data-feather="file-text" class="icon"></i>
                            <span class="title">
                                Pages
                                <i data-feather="chevron-right" class="icon fr"></i>
                            </span>
                        </div>
                    </a>

                    <div class="dropdown-menu">
                        <a
                            class="dropdown-item"
                            routerLink="/others/users-card"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Users Card
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/notifications"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            <span class="title">Notifications</span>
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/timeline"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Timeline
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/invoice-template"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Invoice Template
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/gallery"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Gallery
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/faq"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Faq
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/pricing"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Pricing
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/profile"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Profile
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/profile-settings"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Profile Settings
                        </a>

                        <a
                            class="dropdown-item"
                            routerLink="/others/error-404"
                            routerLinkActive="active"
                        >
                            <i data-feather="chevron-right" class="icon"></i>
                            Error 404
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- End Side Menu -->
